**/bin
**/obj
**/publish
**/.idea
**/.vs
**/.vscode
**/.git
**/.gitignore
**/.dockerignore
**/Dockerfile
**/*.md
**/*.log
**/.env
**/.env.*
**/firebase-service-account.json
**/*-service-account.json
**/*.pem
**/*.key